.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-item {
  width: calc(25% - 10px); /* Забезпечуємо 4 колонки */
}

.item-content {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

.details {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-sizing: border-box;
}
