

.modal {
  display: none;
  position: fixed;

  width: 200%;
  height: 200%;
  background-color: black;
  z-index: 1000;
  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal__content {
    background-color: aqua;
    padding: 30px;
    border-radius: 8px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
  }
}
